.logs-date{
    width: 88px;
    overflow: hidden;
    text-align: center;
}

.logs-date .month{
    height: 30px;
    line-height: 30px;
    background-color: #d62828;
    font-size: 15px;
    color: white;
}

.logs-date .day{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}